@font-face {
  font-family: 'Cartoon-Blocks';
  src: url('../fontes/from-cartoon-blocks/sketch-3d.regular.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin-bottom: 20px;
}

.fundo {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  background-image: url(../midias/003.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textoPrincipal {
  font-family: 'Cartoon-Blocks', Geneva, Tahoma, sans-serif;
  font-size: 60px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 10px auto;
}
.links{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.logo {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.logo:hover {
  color: #c4c4c4;
}

.icons-right {
  display: flex;
  align-items: center;
}

.icons-right li {
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #95a5a6;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px;
  list-style: none;
}

.icons-right a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;

}

.icons-right a:hover {
  color: #95a5a6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #000000;
  height: 9vh;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 20px;
}
.menu-normal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 0; 
}

.nav-list-normal li{
  list-style: none;

}


.nav-list {
  display: flex;
  justify-content: space-around; /* Espaçamento uniforme entre os itens */
  align-items: center;
  gap: 20px; /* Define o espaçamento entre os itens */
  padding: 0;
}

.nav-list li {
  list-style: none;
  margin: 0 20px;
  
}

.nav-list a {
  color: aquamarine;
  text-decoration: none;
  transition: color 0.3s;
}
.menu-normal a{
  text-decoration: none;
  color: aquamarine;
}
.nav-list a:hover {
  color: #95a5a6;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .fundo {
    flex-direction: row;
    justify-content: space-between;
  }

  .textoPrincipal {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 23vh;
    right: 0;
    width: 35%;
    height: 50vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease-in;
    z-index: 2;
    margin-top: -42px;
  }

  .nav-list li {
    margin-left: 0;
  }

  .menu-normal {
    display: none;
  }
  
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  display: flex;
  
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .fundo {
    flex-direction: row;
    justify-content: space-between;
  }

  .textoPrincipal {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }
  .nav-mobile-list {
    display: none;
    position: absolute;
    top: 25vh;
    right: 0;
    width: 35%;
    height: 43vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease-in;
    z-index: 2;
    
  }
  .nav-list {
    display: none;
    position: absolute;
    top: 25vh;
    right: 0;
    width: 35%;
    height: 43vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease-in;
    z-index: 2;
    
  }

  .nav-list li {
    margin-left: 0;
  }

  .menu-normal {
    display: none;
  }
  
  .mobile-menu {
    display: block;
  }

}

.nav-list.active {
  display: flex;
  
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}



/* Exibe o menu normal em telas grandes e esconde o menu mobile */


