* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    position: relative;   /* Adicionado para controle de sobreposição */
}

.container-conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    position: relative;  /* Adicionado para controle de sobreposição */
}

.video-container {
    position: relative;
}

.container-videos {
    background: #fff;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    transition: transform 0.3s;
    width: 400px;
    height: 440px;
    max-width: 500px; /* Ajusta a largura máxima do card */
    z-index: 3; /* Card de vídeos com maior z-index */
    position: relative;  /* Adicionado para controle de sobreposição */
    margin-bottom: 20px;
    margin-right: 20px;
}

.container-comentario {
    display: flex; /* Começa escondido */
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajusta a largura máxima do card */
    height: 440px;
    padding: 20px;
    flex-direction: column;
    z-index: 2; /* Card de comentários com menor z-index */
    position: absolute; /* Card de comentários fica posicionado em relação ao container */
    top: 0; /* Posiciona o card de comentários no topo do container */
    left: 100%; /* Inicialmente fora da tela, à direita do vídeo */
    transform: translateX(0); /* Movimenta para a direita ao ser exibido */
    transition: transform 0.3s ease-in-out; /* Animação suave */
    overflow-y: auto; /* Adicionado para permitir rolagem nos comentários */
}
.container-comentario{
    transform: translateX(-120%);
}
.container-comentario.active {
    display: flex; /* Exibe o card */
    transform: translateX(-7%); /* Move o card para a esquerda */
    z-index: 2;
}



.video video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

iframe {
    width: 100%;
    height: 220px;
    border: none; 
    display: block;
    margin: 0;
}

.txt {
    padding: 15px;
}

.txt h2 {
    font-size: 1.10rem;
    margin-bottom: 5px;
}

.txt p {
    color: #666;
    margin-bottom: 5px;
}

/* Estilos do autor */
.autor {
    display: flex;
    align-items: center;
}

.autor img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos dos ícones */
.incons {
    display: flex;
    align-items: center;
}

.incons i {
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.incons i:hover {
    color: red;
    margin-right: 15px;
}

.likeCount{
    margin-left: -13px;
    margin-right: 15px;
}
.liked {
    color: red;
}

/* Estilos para o modal */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
}

#authorCard {
    z-index: 3;
}

.author-info {
    display: flex;
}

.author-info img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.author-info div {
    flex: 1;
}

#shareCard {
    z-index: 3;
}

#shareLink {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para a seção de comentários */
.comentarios {
    padding: 15px;
    border-top: 1px solid #ddd;
}

.comentarios h3 {
    margin-bottom: 15px;
}

#commentSectionContainer {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

#commentSection {
    padding-right: 10px;
}

.comment {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#commentForm {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

#commentInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
