* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8; /* Optional: Light background color for better contrast */
    font-family: Arial, sans-serif;
    margin: 0;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    /*  flex-direction: column 3;Arrange items in a single column */
    align-items: center; /* Center items horizontally */
    justify-content: center;
    gap: 30px;
    padding: 30px;
}
/*inicio do album*/
.album {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; /* Ensure items stretch to the same height */
    border-radius: 10px;
    overflow: hidden; /* Ensure inner content is contained within the border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Optional: Background color for album */
    width: 90%; /* Ensure the album does not occupy the entire width */
    max-width: 700px; /* Set a maximum width for better appearance */
}

.imagens {
    flex: 1;
}

.imagens img {
    width: 100%;
    height: 100%; /* Make the image height equal to the container height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
iframe{
    width: 300px;
    height: 300px;
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px; /* Add padding for better spacing */
    text-align: left;
    width: 50%; /* Adjust width to be half of the album */
}

.txt {
    margin-bottom: 20px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Margin at the top for spacing */
}

.bts {
    width: 100px; /* Adjust width as needed */
    border-radius: 10px;
    background-color: #0a900890;
    color: #fff;
    cursor: pointer;
    padding: 10px; /* Add padding for better button appearance */
    border: none; /* Remove default border */
    text-align: center;
}

.bts:hover {
    background-color: rgb(32, 70, 3);
    transition: .5s;
}
/*fim album*/

/*inicio modal externo*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal img{
    cursor: pointer;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 64%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-fotos {
    display: block;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-fotos img {
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 5px;
}

/*fim modal externo*/

/*inicio modal de tela cheia*/
.image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top of other modals */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0, 0, 0); /* Black w/ opacity */
    
}

.image-modal-content {
    margin: auto;
    display: block;
    width: 648px ;
    height:648px ;
    margin-top: 37px;
}

.image-modal .close {
    position: absolute;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.image-modal .close:hover,
.image-modal .close:focus {
    color: #3f3f3f;
    text-decoration: none;
    cursor: pointer;
}
/* Botões de navegação */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: 5px;
    margin-right: 5px;
}
.prev{
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
} 
.next{
    right: 0;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
} 

.next:hover, .prev:hover{
    background-color: #888;
    transition: .5s;
}
/*fim modal de tela cheia*/

@media screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr; /* Faz com que os álbuns fiquem em uma única coluna */
        gap: 20px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .album {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff; /* Optional: Background color for album */
        max-width: 100%; /* Alinhe o álbum para ocupar toda a largura disponível */
        width: 100%;
    }

    .descricao {
        padding: 10px; /* Reduz o padding em telas menores */
        width: 100%; /* Alinhe a descrição para ocupar toda a largura */
    }

    .bts {
        width: 100%; /* O botão ocupa a largura total do container */
        font-size: 16px; /* Ajusta o tamanho do texto do botão */
    }

    /* Modal de Fotos */
    .modal-content {
        width: 90%; /* Reduz a largura do modal para telas menores */
        
    }

    .modal-fotos img {
        width: 100%;
        height: auto;
    }
    
    /* Ajuste para modal de tela cheia */
    /*inicio modal de tela cheia*/
.image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top of other modals */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    
}

.image-modal-content {
    margin: auto ;
    display: block;
    width: 99%;
    height:380px;
    margin-top: 50%;
    
}

.image-modal .close {
    position: absolute;
    right: 10px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-top: 39%;
}


.image-modal .close:hover,
.image-modal .close:focus {
    color: #3f3f3f;
    text-decoration: none;
    cursor: pointer;
}


    /* Botões de navegação */
    .prev, .next {
        display: none;
    }
}