*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 40%;
    border-radius: 10px;
    border: 1px solid black;
}
.container-conteudo{
    display: flex;
    width: 100%;
}
.container-foto{
    width: 50%;
}
.container-foto img{
    width: 100%;
    border-top-left-radius: 10px;
}
.container-pessoais{
    width: 50%;
    text-align: left;
    margin-left: 15px;
}

.container-bibiografia{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    text-align: justify;
}
.container-bibiografia p{
    margin: 5px;
}
.comentar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    margin: 0 auto;
}
.comentar input{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 200px;
    height: 20px;
}
