@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

* {
  padding: 0;
}
button.neumorphic {
  width: 15rem;
  height: 10rem;
  border: 0.6rem solid rgb(255, 255, 255);
  border-radius: 1rem;
  color: hsl(0 0% 10%);
  background: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  margin-left: .5rem;
  cursor: pointer;
  
  --shadow: 
    -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
    .5rem .5rem 1rem hsl(0 0% 50% / .5);
  box-shadow: var(--shadow);
  outline: none;
  transition: all 0.1s;
}

button.neumorphic:hover, button.neumorphic:focus-visible {
  color: hsl(10 80% 50%);
  transform: scale(1.1);
}

button.neumorphic:active, button.neumorphic.active {
  box-shadow: var(--shadow), inset .5rem .5rem 1rem hsla(0, 2%, 8%, 0.5), inset -.5rem -.5rem 1rem hsla(0, 0%, 6%, 0.75);
  color: hsl(10 80% 50%);
}

button.neumorphic i {
  font-size: 3rem;
}

button.neumorphic img {
  height: 75px;
  width: 80px;
  justify-content: center;
}

button.neumorphic span {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
}

body {
  background-color: #cecece;
  padding: 0;
}

.buttons {
  display: grid;
  width: min(75rem, 100%);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(11rem, 100%), 1fr));
  align-items: center;
  gap: 7rem;
}

/* Ajustes para telas entre 999px e 600px (Tablets) */
@media screen and (max-width: 999px) {
  button.neumorphic {
    width: 10rem;
    height: 8rem;
  }

  button.neumorphic i {
    font-size: 2rem;
  }

  button.neumorphic img {
    height: 65px;
    width: 70px;
  }

  button.neumorphic span {
    font-size: 1rem;
  }

  .buttons {
    grid-template-columns: repeat(auto-fit, minmax(min(11rem, 100%), 1fr));
    gap: 2.5rem;
  }
}

/* Ajustes para telas menores que 600px (Smartphones) */
@media screen and (max-width: 600px) {
  button.neumorphic {
    width: 8.5rem;
    height: 7.5rem;
  }

  button.neumorphic i {
    font-size: 2rem;
  }

  button.neumorphic img {
    height: 65px;
    width: 70px;
  }

  button.neumorphic span {
    font-size: 0.8rem;
  }

  .buttons {
    grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
    gap: 1.5rem;
  }
}
