/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    
}
.content{
 margin: 10px;
}
/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #242526;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #1877f2;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Conteúdo */
.content {
    margin-left: 270px;
    padding: 20px;
    background-color: white;
    width: calc(100% - 270px);
    box-sizing: border-box;
}

h1 {
    color: #333;
}

h2 {
    margin-top: 20px;
}

p {
    line-height: 1.6;
    text-align: justify;
}

ul {
    margin-left: 20px;
}

ul li {
    list-style-type: disc;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 150px;
    }

    .content {
        margin-left: 210px;
        width: calc(100% - 210px);
    }
}

@media (max-width: 576px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar ul li {
        margin: 5px 0;
    }
}

@media (max-width: 400px) {
    .sidebar h2 {
        font-size: 18px;
    }

    .sidebar ul li a {
        font-size: 14px;
    }

    .content {
        padding: 10px;
    }

    h1, h2 {
        font-size: 20px;
    }
}
